html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;				
}

.book-gallery{
  position: relative;
  width: 700px;
  height: 500px;
  padding: 10px;
  margin: auto;
  background-color: none;
  perspective: 1800px;
  transform: rotateY(0);
  transform-style: preserve-3d;	
}

.page{
  counter-increment : page-count;
  position: absolute;		
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transition: transform 1s ease-out;
  -webkit-transition : -webkit-transform 1s ease-out;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;				
}

.page:hover{
  transform: rotateY(-30deg);
  -webkit-transform: rotateY(-30deg);
  transition: transform 0.5s ease-out;
  -webkit-transition : -webkit-transform 0.5s ease-out;
}

input:checked + .page{
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.front-page,
.back-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-page{				
  /* background-color: grey; */
  z-index: 200;
}

.back-page{
  z-index: 100;
  /* background-color: grey; */
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.page figure{
  margin: 0;
  padding: 0;
  width: 90%;
  border: 0;
  overflow: hidden;
}

.page figure img{
  width: 100%;
}

.page figure figcaption{
  padding: 6px;
  background-color:rgba(0, 0, 0, 0.7);
  text-align: center;
}

.chk-flip{
  position: absolute;				
  display: none;
}

.lbl-flip{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 300;
}

