.gallery {
  margin: 0 40px;
  /* margin: 0; */
  border: 40px solid #000;
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
  gap: 1.2rem;
  background-color: #000;
}

.gallery:hover * {
  padding: 0;
}

.gallery_item {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery img {
  transition: transform 600ms ease-out;
  opacity: .8;
}

.gallery img:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

/* Gallery Row */
.gallery_row::-webkit-scrollbar {
  height: 1px;
}
.gallery_row::-webkit-scrollbar-track {
  background: none;
}
.gallery_row::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid none;
}
.gallery_row {
  grid-column: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  padding: 0 40px;
  margin-bottom: 20px;
  --thumbBG: var(--color-gold);
}
.gallery_row img {
  opacity: 0.6;
}

.gallery_row img {
  padding: 40px;
}

.gallery_row img:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .gallery * {
    opacity: 1;
  }
  .gallery img {
    padding: 20px 0;
    width: 340px;
    height: 340px;
  }
  .gallery_row * {
    opacity: 1;
  }
  .gallery_row {
    padding: 0 6px;
  }
  .gallery_row img {
    opacity: 1;
    padding: 20px;
    width: 340px;
    height: 340px;
  }
}
